src/workflows/weeklyMetrics.yml
id: weekly-metrics
namespace: github
schedule:
  type: cron
  cron: "0 9 * * MON" # Every Monday at 9 AM UTC
tasks:
  - id: fetch-repo-stats
    type: io.kestra.plugin.github.tasks.FetchRepositoryStats
    repository: "{{inputs.repo}}"

  - id: send-weekly-report
    type: io.kestra.plugin.slack.tasks.SendMessage
    url: "{{inputs.slackWebhookUrl}}"
    text: >
      Weekly Metrics for {{inputs.repo}}:
      - Open Issues: {{tasks.fetch-repo-stats.outputs.openIssuesCount}}
      - Open PRs: {{tasks.fetch-repo-stats.outputs.openPullRequestsCount}}
      - Stars: {{tasks.fetch-repo-stats.outputs.stars}}
      - Forks: {{tasks.fetch-repo-stats.outputs.forks}}
      - New Contributors: {{tasks.fetch-repo-stats.outputs.newContributors}}
